@import url(./gb.css);
/* Header */
.header-bg {
  background-color: #141414;
  border-bottom: 2px solid #e50914;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.imersao-logo {
  width: 120px;
}

.alura-logo {
  position: relative;
}

.alura-logo::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #e50914;
  position: absolute;
  margin-top: -5px;
  transition: 0.3s;
}

.alura-logo:hover:after {
  width: 100%;
}

.btn {
  margin-left: 10px;
}

/* Filmes */
.filmes-titulo {
  border-bottom: 1px solid #b81d24;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.filmes-titulo h1 {
  font: 500 3rem/1.5 "Poppins", sans-serif;
}

.filme-lista img {
  width: 200px;
  transition: transform 0.4s;
}

.filme-lista {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filme-add {
  display: flex;
  gap: 5px;
}

.filme-lista img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.4s;
}
