body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #141414;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h3,
h4,
p,
blockquote,
dd {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ponto {
  color: #e50914;
}

textarea,
input:focus {
  outline: none;
}

::placeholder {
  color: #e5e5e5;
}

.filme-add input {
  background-color: transparent;
  color: #fff;
  border: none;
  width: max-content;
  border-bottom: 2px solid #fff;
}

.btn {
  padding: 5px 32px;
  display: inline-block;
  background: linear-gradient(#e50914, #b81d24);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#b81d24, #e50914);
}
